html, body {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background: url("https://img.freepik.com/free-photo/book-turning-pages_1150-146.jpg?w=900&t=st=1723660283~exp=1723660883~hmac=36b8bce0e841ed57b9253bb7a896517eeb66a29719dbdb9befd516fecc0523d2") center/cover no-repeat;
    backdrop-filter: blur(2px);
}

.page {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

h3 {
    min-width: 200px;
    color: #134B70;
    font-weight: bold;
}

.container input:not(.pickup),h4 {
    width: 300px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #201E43;
}

.pickup {
    width: 300px;
    margin-left: 23px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #201E43;
}

.button-section {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.submit-button, .cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #201E43;
    cursor: pointer;
}

.submit-button:hover,.cancel-button:hover {
    opacity: 0.9;
}

.popup {
    width: 200px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.open-popup {
    visibility: visible;
}

.cancel-confirm {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.cancel,.confirm {
    border: none;
    background: none;
    color: #201E43;
    cursor: pointer;
}

.policy-section {
    margin-top: 30px;
    text-align: left;
    max-width: 800px;
    font-weight: bold;
    color: #201E43;
    text-shadow:
    -1px -1px 0 #FFFFFF,
     0   -1px 0 #FFFFFF,
     1px -1px 0 #FFFFFF,
     1px  0   0 #FFFFFF,
     1px  1px 0 #FFFFFF,
     0    1px 0 #FFFFFF,
    -1px  1px 0 #FFFFFF,
    -1px  0   0 #FFFFFF;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}