html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: url("https://img.freepik.com/free-photo/book-turning-pages_1150-146.jpg?w=900&t=st=1723660283~exp=1723660883~hmac=36b8bce0e841ed57b9253bb7a896517eeb66a29719dbdb9befd516fecc0523d2") center / cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: -10px;
}

.input-field, .textarea-field {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.textarea-field {
    height: 80px;
    resize: none;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.submit-btn {
    background-color: #28a745;
    color: white;
    margin-bottom: 15px;
}

.clear-btn {
    background-color: #17a2b8;
    color: white;
    margin-bottom: 15px;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    margin-bottom: 15px;
}

.btn:hover {
    opacity: 0.9;
}

.popup {
    width: 200px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 6px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.popup.open-popup {
    visibility: visible;
}

.cancel-confirm {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel, .confirm {
    border: none;
    background: none;
    color: #201E43;
    cursor: pointer;
}

.button-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
